.App {
  text-align: center;
  background-color: rgb(226, 226, 226);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Details{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* border:2px solid red; */
}

.InnerDiv{
  border:2px solid;
  border-radius: 10px;
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 0px 0px 0px #33062c; 
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem;
  background: white;
  /* border: 0.2px solid; */
  width: 95%;
  margin: 2%;
  height: auto !important;
  border-radius: 10px;
  /* border: 2px solid red; */
}

.projects{
  width: 100%;
  height: 20px;
  /* border: 0.5px solid; */
  border-radius: 10px;
  background: rgb(216, 234, 240);
  /* z-index: -1; */
  margin: 2%;
  border-radius: 10px;
}

.projects-data-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}

.barlength{
  height: 100%;
  background: #e74a3b;
  border-radius: 5px;
}

.card-header {
  /* padding:  0.75rem 1.25rem; */
  padding: 1.25rem;
  /* margin-bottom: 0;  */
  color: #4e73df!important;
  background-color: #f8f9fc;
  border-bottom: 1px solid #8a97c2;
  /* width: 100%; */
  margin: 0%;
}
.card-header:first-child {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.barInfo{
  padding: 10px;
  width: 95%;
}

.colorMain{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%

}
.colorcard{
  margin : 10px;
  width:45%;
  height:100px !important;
  border-radius: 10px;

  /* border: 2px solid; */
  
}

.EarningDetails{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.projectCard{
  width: 50%; 
  display: flex;
  /* margin: 10px; */
  flex-direction: column;
  height: auto;
  /* border: 2px solid red; */
}
.projectCard1{
  width: 50%; 
  display: flex;
  flex-direction: column;
  height: auto;
  /* border: 2px solid red; */
}

.Cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.marginData{
  margin: 2%;
}

h5{
  margin: 0%;
}

h4{
  margin-bottom: 0%;
}
h2{
  margin-top: 0%;
}
